<h1>Ivan the Terabyte's Blog</h1>

<section class="blog">
  <%= render @posts %>
</section>
<br>
<div class="apple_pagination">
  <%= will_paginate @posts %>
</div>

<br />

<%= link_to 'New Post', new_post_path %>
